<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Post:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <div class="row">
        <div class="content col-lg-12">
            <div id="typo3_blog" class="single-post">
                <div class="post-item">
                    <div class="post-item-wrap">

                        <f:switch expression="{post.singleViewLayout}">
                            <f:case value="text_left_image_right">
                                <f:render section="text_left_image_right" arguments="{post: post}" />
                            </f:case>
                            <f:case value="text_right_image_left">
                                <f:render section="text_right_image_left" arguments="{post: post}" />
                            </f:case>
                            <f:defaultCase>
                                <f:render section="layout_header_image" arguments="{post: post}" />
                            </f:defaultCase>
                        </f:switch>

                        <div class="frame-layout-0">
                            <div class="container col-lg-12">
                                <f:render partial="Post/PostNavigation"
                                    arguments="{post: post, prevPost: prevPost, nextPost: nextPost, settings: settings}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="layout_header_image">
    <f:render partial="Post/PostImageHeader" arguments="{post: post}" />
    <div class="frame-layout-0">
        <div class="container col-lg-12 mt-5">
            <f:render partial="Post/PostHeadline" arguments="{post: post}" />
            <f:render partial="Post/PostMetadata" arguments="{post: post}" />
        </div>
        <div class="container col-lg-12">
            <f:render partial="Post/PostTextContent" arguments="{post: post}" />
        </div>
    </div>
</f:section>

<f:section name="text_left_image_right">
    <div class="frame-layout-0">
        <div class="container">
            <div class="row">
                <div class="container col-lg-12">
                    <f:render partial="Post/PostHeadline" arguments="{post: post}" />
                    <f:render partial="Post/PostMetadata" arguments="{post: post}" />
                </div>
                <div class="container col-lg-4 d-sm-block d-lg-none">
                    <f:render partial="Post/PostImageLeftRight" arguments="{post: post}" />
                </div>
                <div class="container col-lg-8">
                    <f:render partial="Post/PostTextContent" arguments="{post: post}" />
                </div>
                <div class="container col-lg-4 d-sm-none d-md-none d-lg-block">
                    <f:render partial="Post/PostImageLeftRight" arguments="{post: post}" />
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="text_right_image_left">
    <div class="frame-layout-0">
        <div class="container">
            <div class="row">
                <div class="container col-lg-12">
                    <f:render partial="Post/PostHeadline" arguments="{post: post}" />
                    <f:render partial="Post/PostMetadata" arguments="{post: post}" />
                </div>
                <div class="container col-lg-4">
                    <f:render partial="Post/PostImageLeftRight" arguments="{post: post}" />
                </div>
                <div class="container col-lg-8">
                    <f:render partial="Post/PostTextContent" arguments="{post: post}" />
                </div>
            </div>
        </div>
    </div>

</f:section>

</html>